.bg-clr {
    /* The image used */
    background-color: black;
  
    height: 65vh;
    position: relative;
  }
  
  /* Add styles to the form container */
  .details {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    padding: 16px;
    background-color: white;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: transparent;

  }
  
  .add-to-order-btn{
   color: white;
   background-color: red;
   border: none;
   border-radius: 20px;
position: absolute;
 width: 140px;
  height: 35px;
   font-size: 18px;
    bottom:-15px;
     right: 50px;
     box-shadow: 0px 0px 14px 3px rgba(243, 0, 0, 0.69);
-webkit-box-shadow: 0px 0px 14px 3px rgba(255, 0, 0, 0.69);
-moz-box-shadow: 0px 0px 14px 3px rgba(253, 0, 0, 0.69);
  }

  .add-to-order-btn:hover{
    background-color: black;
    border: 1px solid red;
    color: red;
    box-shadow: none;
    cursor: pointer;
  }

 